/* Styles for Home page */
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-image1 {
    background-image: url('../images/HP_BG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    text-align: center;
}

/* Play Button Styles */
#playButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for the game page */
#backgroundCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
   background-image: url('../images/BG.png');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

#restartBtn,
#homeBtn {
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #333;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
}